.repos {
  & h2 {
    font-size: 1.35rem;
  }

  & ul {
    margin-top: 0.5rem;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
  }
}

.noRepos {
  text-align: center;
  padding: 2rem;
  color: var(--color-text-disabled);
}
